{% extends 'base.html' %}
{% if products.name %}
<title> {% block title %} {{products.name}} {% endblock title %} </title>
{% endif %}
{% block content %}

<div class="py-3 bg-primary" >
    <div class="container " >
        <a href="{% url 'index'  %}" class="text-white" >Home / </a>
        <a href="{% url 'collections' %}" class="text-white" > Collections / </a>
        <a href="{% url 'collectionsview' products.category.slug %}" class="text-white" > {{products.category.name}} /</a>
        <a href="{% url 'productview' products.category.slug products.slug %}" class="text-white" > {{products.name}}</a>
    </div>
</div>



<div class="py-5" >
    <div class="container" >
        <div class="row" >
            <div class="col-md-12" >
                <div class="card shadow product_data " >
                    <div class="card-body" >
                        <div class="row" >
                            <div class="col-md-4" >
                                {% comment %} <h1 class="products-name"  style="font-size:35px !important"> {{ products.name }} </h1> {% endcomment %}
                                {% if products.tags %}<nav class="navbar navbar-expand-lg bg-body-tertiary">
                                    {% comment %} <lablel class="product-viewtag"> {{products.tags}} </lablel> {% endcomment %}
                                {% endif %}
                                {% if products.product_image %}
                                    <img src="{{ products.product_image.url }}" class="w-100" alt="image" />
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <h1 class="mb-0">
                                <h2 class="products-name text-center "  style="font-size:35px !important"> {{ products.name }} </h2>
                                {% comment %} {{ products.name }} {% endcomment %}
                                {% if products.trending %}
                                    {% comment %} <lablel style="font-size:16px;" class="float-end badge bg-danger trending_tag "> Trending {{products.trending }} </lablel> {% endcomment %}
                                {% endif %}
                                </h1>
                                <hr>
                                {% if products.selling_price > 0 %}

                                <lablel class="me-3 fw-bold float-start"> Original Price : <s> SD {{products.original_price  | stringformat:'d' }} </s> </lablel>
                                <lablel class="fw-bold float-end"> Selling Price : SD  {{products.selling_price | stringformat:'d' }} </lablel>
                                {% endif %}
                                <br/>
                                <p class="mt-3">  {{ products.small_descrption }} </p> 
                                    <hr>
                                    <div class="row mt-2">
                                        <div class="col-md-3">
                                         {% csrf_token %}
                                            <input type='hidden' value="{{ products.id }}" class="prod_id" />
 
                                        </div>
                                        <div class="col-md-9">
                                            <br/>
                                            {% if products.quantity > 0 %}
                                            <button type="button" class="btn btn-primary me-3 float-start addToCardBtn " ><i class="fa fa-shopping-cart" ></i> Add to Card </button>
                                            {% endif %}
                                            <button type="button" class="btn btn-success me-3 addwishlist float-end" >Add to Wishlist <i class="fa fa-heart" ></i></button>
                                            <a href="{{ products.link }}" class="btn btn-warning me-3  " ><i class="fa fa-shopping-cart" ></i>Pay Now</a>
                                        </div>
                                    </div>
                                {% comment %} </br> {% endcomment %}
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <h3 class='mt-3' > Descrption</h3>
                                {% comment %} <p>{{ products.descrption }} </p> {% endcomment %}
                                <p>{{ products.content|safe }} </p>
                                <div class="col-md-9">
                                <br/>
                                {% if products.quantity > 0 %}
                                <button type="button" class="btn btn-primary me-3 float-start addToCardBtn " ><i class="fa fa-shopping-cart" ></i> Add to Card </button>
                                {% endif %}
                                <button type="button" class="btn btn-success me-3 addwishlist float-end" >Add to Wishlist <i class="fa fa-heart" ></i></button>
                                <a href="{{ products.link }}" class="btn btn-warning me-3  " ><i class="fa fa-shopping-cart" ></i>Pay Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
